

$color-parkr-blue: #15A8E2;
$color-parkr-teal: #9EC9DA;
$color-parkr-dark: #4A4A4A;


body {
  background-color: #fff;
}

.logo {
  margin: 50px 0;

  img {
    max-width: 400px;
  }

  h1 {
    color: $color-parkr-blue;

    &:hover {
      color: $color-parkr-blue;
    }
  }
}

.button {
  background-color: $color-parkr-blue;
}

.navigation {
  list-style: none;
  margin-left: 0;

  display: flex;


  li {
    flex: 1 0 auto;
    font-size: 20px;

    &:hover {
      cursor: pointer;
      //color: $color-parkr-blue;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .circle {
    border-color: $color-parkr-blue;
    border-radius: 50%;
    width: 100px;
  }
}

.list, .price-form {
  padding: 20px;
  background-color: $color-parkr-dark;
  color: white;
}

.list {
  list-style: none;
  margin-left: 0;

  .entry {
    background-color: transparent;
    border-bottom: 1px solid $color-parkr-teal;
    padding: 10px;
  }

  em {
    font-style: normal;
    font-weight: bold;
    margin-right: 10px;
  }

}


